# Django
*.pyc
*~
__pycache__
db.sqlite3
migrations/
*.log

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Static files (se estiver em produção)
/staticfiles/
/media/

# Database
*.db

# Python
*.egg-info/
dist/
build/